//bree
@import url("https://p.typekit.net/p.css?s=1&k=sah5lfm&ht=tk&f=69.77.25462&a=419276&app=typekit&e=css");

@font-face {
  font-family: "bree";
  src: url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d76e1f/000000000000000077359531/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "bree";
  src: url("https://use.typekit.net/af/82b1b8/00000000000000007735953d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/82b1b8/00000000000000007735953d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/82b1b8/00000000000000007735953d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "bree";
  src: url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

.tk-bree {
  font-family: "bree", sans-serif;
  font-weight: 300;
}
.tk-bree--semibold {
  font-family: "bree", sans-serif;
  font-weight: 500;
}

//Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.op-s {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.op-s--bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}


//aplicado a tags
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "bree", sans-serif;
  font-weight: 500;
  font-size: 3.75rem;
  @include media-breakpoint-down(md) {
    font-size: 2.1875rem;
  }
}

h2 {
  font-family: "bree", sans-serif;
  font-weight: 500;
  color: $secondary;
}

h3 {
  font-family: "bree", sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
}
