//My Theme Colors
$balmesvetClaro: #2AD2C9;
$h2-color: #244C5A;
$background: #D4F6F4;
$gray: #EFEFEF;
$white: #FDFDFD;
$yellow: #FFB525;
$p-color: #000000;
$iconsContact: #46C1BD;


//REESCRIBIENDO VARS DE BOOTSTRAP
$primary: $yellow;
$secondary: $h2-color;
$success: $balmesvetClaro;
$warning: $iconsContact;
$light: $white;
$dark: $p-color;
$body-bg: $background;
$footer-color: $white;
$danger: $gray;
$info: #9B9B9B;