.main {
    &__special-bg {
        // padding: 20rem 0;
        background-image: url("../assets/svg/special-bg.svg");
        background-size: 60%;
        background-repeat: no-repeat;

        &--2 {
            background-position-x: right;
        }
    }

    &__card {
        @include media-breakpoint-up(md){
            padding: 0 3rem;
        }
    }

    &__photo {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}