.navbar {
    &__logo {
        width: 50%;
    }
}

.navbar__btn {
    // width: 50%;
}

.navbar-toggler-icon {
    height: 2rem;
    width: 2rem;
    background-image: url("../assets/svg/burger.svg");
}