.navbar {
  @include media-breakpoint-down(md) {
    padding: 1rem 0 1rem 0;
  }
  &__brand {
    width: 21.875rem;
    @include media-breakpoint-down(md) {
      min-width: 9rem;
      max-width: 11rem;
    }
  }
  &__logo {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 21.875rem;
    }
  }
}

.navbar-toggler-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/svg/burger.svg");
}